services:
  mysql:
    image: mysql:8.0.41
    container_name: mysql_container
    restart: always
    env_file:
      - .env 
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping"]
      interval: 5s
      retries: 10
      start_period: 10s
    networks:
      - backend-network
    volumes:
      - mysql_data:/var/lib/mysql

  springboot:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: springboot_container
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
      mongo:
        condition: service_healthy  
      neo4j:
        condition: service_healthy
    env_file:
      - .env 
    environment:
      - SPRING_PROFILES_ACTIVE=prod 
    ports:
      - "8453:8453"
    networks:
      - backend-network

  mongo:
    image: mongo:8.0
    container_name: mongo_container
    restart: always
    env_file:
      - .env
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "27017:27017"
    healthcheck:
      test: ["CMD-SHELL", "mongosh --username ${MONGO_INITDB_ROOT_USERNAME} --password ${MONGO_INITDB_ROOT_PASSWORD} --eval 'db.adminCommand(\"ping\")' || exit 1"]
      interval: 20s
      timeout: 10s
      retries: 5
      start_period: 40s
    networks:
      - backend-network
    volumes:
      - mongo_data:/data/db

  neo4j:
    image: neo4j:5.15
    container_name: neo4j
    restart: always
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: "neo4j/REDACTEDREDACTED"   # 직접 계정/비밀번호를 입력
    healthcheck:
      test: ["CMD", "cypher-shell", "-u", "neo4j", "-p", "REDACTEDREDACTED", "RETURN 1"]
      interval: 10s
      retries: 5
      start_period: 20s
    networks:
      - backend-network
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs


networks:
  backend-network:

volumes:
  mysql_data:
  mongo_data:
  neo4j_data:
  neo4j_logs: