services:
  mysql:
    image: mysql:8.0.41
    container_name: mysql_container
    restart: always
    env_file:
      - .env 
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping"]
      interval: 5s
      retries: 10
      start_period: 10s
    networks:
      - backend-network
    volumes:
      - mysql_data:/var/lib/mysql

  springboot:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: springboot_container
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
    env_file:
      - .env 
    ports:
      - "8080:8080"
    networks:
      - backend-network

networks:
  backend-network:

volumes:
  mysql_data: